<!DOCTYPE html>
<html>
    <head>
        {% assets "base_css" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}
        {% block head%}{% endblock %}
    </head>
    <body id="wrap">
        <div class='container-fluid'>
            {% block content %}
            {% endblock %}
        </div>
        <script type="text/javascript">
            var csrftoken = '{{ csrf_token() }}';
            var imagesBase = '{{images_base }}';
            var staticBase = '{{static_base }}';
        </script>
        {% assets "base_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% block script %}
        {% endblock %}
    </body>
</html>
